/* CONFIGURACIONES */

h1, h2, h3, h4, h5, h6, p, a, span {
text-decoration: none;
}

ul {
    list-style: none;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    width: 100vw;
    overflow: hidden;
    
  }

  .pagina1, .pagina2 {
    width:100vw;
  }

  .pagina1 {
    background-color: white;
    min-height: 100vh;
    overflow: hidden;

    display: grid;
    grid-template-columns: repeat (2, fr);
    grid-template-rows: auto;
}

  .pagina2 {
    background-color: white;
    min-height: 100%;
    opacity: 1;
    position: absolute;
    transition: .5s all ease-in-out;
    left: 100%;
    pointer-events: none;


    display: grid;
    grid-template-columns: repeat (4, fr);
    grid-template-rows:repeat (4, 1fr);
  }


  .entrar {
    left: 0%;
    pointer-events: all;
  }


  /*DISEÑO PAGINA 1*/

    .banner {
    height: 250px;
    padding: 20px;
    border-radius: 0 0 20px 20px;
    background:linear-gradient(to bottom right,hsla(223, 75%, 29%, 0.724),hsla(60, 2%, 12%, 0.701));    
}

.banner_foto img {
width: 100px;
border-radius: 20px;
}

.banner_nombre h1 {
    font-size: 1.75rem;
    color: white;
}

.banner_nombre h2 {
    font-size: 1.2rem;
    color: white;
    font-weight: 400;
}

/* informacion básica */

.info_basica {
    margin-bottom: 0.5rem;
    font-size: 16px;
}

.info_li_basica {
    font-size: 14px;
}

.section {
    padding: 20px;
    height: auto;
}

.section_title {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}


/* estudios - experiencia */
.estudios_title h3 {
    margin-top: 1rem;
}

.estudios_info table {
    margin-bottom: 25px;
    font-size: 14px;
}

.estudios_info td {
    padding-bottom: 2px;
}

.años_estudio {
    font-weight: 600;
    padding-right: 20px;
}


/* habilidades */

.section_habilidades {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-gap: 20px;
margin-bottom: 1rem;
}

.habilidad {
    background-color: rgb(236, 232, 232);
    padding: 0.75rem;
    border-radius: 10px;
}

.habilidad_txt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .15rem;
}

.habilidad_txt h5 {
text-transform: uppercase;
}

.habilidad_barra_exterior {
    width: 100%;
    padding: 3px;
    background-color: rgb(107, 129, 174);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 1rem;
}

.habilidad_barra_interior {
    height: 4px;
    background-color: rgb(233, 187, 122);
    border-radius: 1rem;
}

.section_habilidades .habilidad:nth-child(1) .habilidad_barra_interior {
    width: 95%;
}

.section_habilidades .habilidad:nth-child(2) .habilidad_barra_interior {
    width: 85%;
}

.section_habilidades .habilidad:nth-child(3) .habilidad_barra_interior {
    width: 60%;
}

.section_habilidades .habilidad:nth-child(4) .habilidad_barra_interior {
    width: 90%;
}



/* boton */

.section_boton {
    display: grid;
    grid-template-columns: 1fr;
    min-height: 3rem;
}

.section_boton a {
display: flex;
justify-content: center;
align-items: center;
gap: .2rem;
background-color: rgb(96, 108, 158);
color: white;
border-radius: 15px;
font-weight: 500;
transition: 2s all ease-in-out;
}


  /*DISEÑO PAGINA 2*/

.header {
    background:  rgb(96, 108, 158);
    border-right: 20px;
    padding: 20px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    grid-column: 1/3;
    grid-row: 1/2;
}

.header_a_volver {
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .2s ease-in-out ;
}

.info_icono {
    font-size: 25px;
}

.info_li {
    grid-column: 2/3;
    grid-row: 2;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.informacion_contacto .informacion .info_li .info_txt:nth-child(1)  {
    font-weight: 300;
}


.informacion_contacto {
    height: 100%;
    overflow: hidden;
    font-size: 20px;
    grid-column: 2/3;
    grid-row: 2/4;
    justify-content: center;
    align-items: center;
}

